
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cart</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <!-- <form method="post"> -->
                <table class="table">
                  <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Product name</th>
                        <!-- <th>Product type</th> -->
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total amount</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let item of cartList ; let i=index">
                      
                        <td>  <img width="80"src="{{item.ImageUrl}}" alt="" /></td>
                      <td class="">
                        <div class="product-info">
                        
                          <a href="#!">{{item.Name}}</a>
                        </div>
                      </td>
                      <!-- <td>{{item.Size}} - {{item.Color}}</td> -->
                      <td>{{ item.Price | currency:'':'' }}0 VND</td>
                      <td class="">
                        <div class="quantity" style="display: inline-flex;">
                          <div class="quantity" style="display: inline-flex;">
                            <button class="btn btn-secondary" (click)="decreaseQuantity(i)" [disabled]="cartList[i].Quantity! <= 1">-</button>
                            
                            <input class="form-control" type="number" [(ngModel)]="cartList[i].Quantity" (ngModelChange)="checkQuantity(i)" [disabled]="cartList[i].Quantity! >= cartList[i].inStock!" />
                            
                            <button class="btn btn-secondary" (click)="increaseQuantity(i)" [disabled]="this.cartList[i].inStock! > 0 && cartList[i].Quantity! >= cartList[i].inStock!">+</button>
                          
                           
                          </div>
                          
                          
                          
                        </div>
                      </td>
                      <td class="">{{item.Price!*item.Quantity!|currency: '':''}}0 VND</td>
                      <td class="">
                        <button class="btn btn-danger" (click)="Remove(i)">Remove</button>
                      </td>
                    </tr>
                    <tr >
                        <th colspan="2">
                        </th>
                        <th>Sum :</th>
                        <th class="text-center">{{ItemCount()}}</th>
                        <th class="text-center">{{ ItemSum() |currency: '':''}}0 VND</th>
                        <th>
                            <button class="btn btn-danger" (click)="DeleteAll()">Delete All</button>
                        </th>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="checkout.html" class="btn btn-main pull-right">Checkout</a> -->
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>