<div class="crop" [style.width.px]="starWidth">
    <div style="width: 90px;" (click)="viewRating()">
        <span style="font-size: 22px;" class="tf-ion-android-star" ></span>
        <span style="font-size: 22px;" class="tf-ion-android-star"></span>
        <span style="font-size: 22px;" class="tf-ion-android-star"></span>
        <span style="font-size: 22px;" class="tf-ion-android-star"></span>
        <span style="font-size: 22px;" class="tf-ion-android-star"></span>
        
    </div>
</div>
